.materia{
    background-color: #fabfb7;
}
.libre{
    background-color: #fdf9c4;
}
.dia{
    background-color: #ffda9e;
}
.materiaSociales{
    background-color: #c5c6c8;
}
.materiaElectronica{
    background-color: #b2e2f2;
}
.materiaProgramacion{
    background-color: #d8f8e1;
}
.grupos{
    background-color: #ffe4e1;
}
.profesores{
    background-color: #84b6f4;
}
.h1{
    background-color: #ffc2d1;
    color: black;
    text-align: center;
    size: 30px;
}
.tabla{
    width: 100%;
    border-collapse: collapse;
}